.experience-container{
    /* background-color: aquamarine; */
    height: 500px;
    position: relative;
    width: 1200px;
    margin: 90px auto;
    padding: 30px 30px;
    box-shadow: 15px 5px 15px 15px rgb(37, 28, 28);
    /* height: auto; */
    

    
}
.xperience div:first-child{
    /* background-color: aquamarine; */
    margin: 20px auto;
    padding: 20px 0;
    font-family: "Anton", sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    border-color: black;
    font-style: normal;
}
.xperience ul{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    
}
.xperience ul li{
    list-style-type: disc;
}

@media screen and (max-width:780px){
    .experience-container{
        max-width: 100%;
        width: 650px;
        height: auto;
       margin: 10px auto;
    }
    

    
}