.experience-container{
    /* background-color: aquamarine; */
    height: 800px;
    position: relative;
    width: 95%;
    margin: 90px auto;
    padding: 30px 30px;
    box-shadow: 15px 5px 15px 15px rgb(37, 28, 28);
    /* height: auto; */
    

    
}
.con-wrapper > div{
    font-size: 20px;
}
.con-wrapper{
    width: 100%;
    margin: 10px auto;
}
.xperience div:first-child{
    /* background-color: aquamarine; */
    margin: 20px auto;
    padding: 20px 0;
    font-family: "Anton", sans-serif;
    font-weight: 50;
    letter-spacing: 1px;
    border-color: black;
    font-style: normal;
    font-size: 20px;
}
.xperience ul{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 19px;
    line-height: 30px;
    /* height: 800px; */
    
}
.xperience ul li{
    list-style-type: disc;
    width: 100%;
}

@media screen and (max-width:780px){
    .experience-container{
        width: 100%;
        height: auto;
        margin: 10px auto;
    }
    .con-wrapper{
        /* margin-top: 190px; */
        margin: 20px auto;
        padding: 10px 0;
    }
    
 .xperience > div > ul > li{
    font-size: 17px;
}
}
