.modal {
    background-color: rgb(11, 10, 10);
    box-shadow: 10px 10px 10px 10px rgba(184, 176, 176, 0.5);
    width: 300px;
    height: 130px;
    position: absolute;
    top: 150px;
    left: 350px;
}
.modal h2{
    text-align: center;
    padding: 10px 0;
}
.modal button{
    padding: 10px 20px;
    margin: 10px 90px;
}
.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(41, 39, 39, 0.94);
    z-index: 999999;
   
}

@media screen and (max-width:780px) {
    .modal-container{
        max-width: 100%;
    }
    .modal{
        /* width: 500px; */
        margin: auto ;
        top: 40%;
        left: 30%;
        right: 50%;
    }

    
    
}