.project-wrapper{
    width: 100%;
    /* max-width: 1300px; */
    /* height: 1400px; */
}
.project-container{
    width: 100%;
    margin: 12px auto;
    
    

}
.project-container h4{
    font-size: 20px;
}
.project-content{
    width: 100%;
}

.project{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}
.project div{
    margin-top: 10px;
}
.project img{
    width: 100%;
    /* height: 400px; */
    object-fit: cover;
}
.project-container:first-child{
    /* width: 100%; */
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 70px;
    font-style: italic;
    
    
}
.project > div{
    box-shadow: 2px 2px 5px 5px rgb(37, 28, 28);
    width: 90%;
  
    
}
.project > * {
    padding: 10px 0;
    margin: 10px auto;
}
.project > div > img{
    width: 100%;
    
}
.project > div > p{
    /* padding: 10px auto; */
    line-height: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    font-style: italic;

}
.icon{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    text-align: center;
}



@media screen and (max-width:780px) {
    .project-wrapper{
        width: 100%;
        margin: auto;
       
       
    }
    .project-content{
        /* width: 100%; */
        
    }
    .project-container{

        width: 100%;

        margin-top: 800px;
       
    }
    .project-container h4{
        width: 100%;
        font-size: 25px;
        
    }
   
    .my{
        text-align: center;
        /* margin: 10px auto; */
    }
    .project  {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 800px;
    }
    .project img{
        width: 90%;
        /* flex-direction: column; */
        /* margin: auto; */
        
    }
    .project > div{
        width: 85%;
        height: 600px;
        margin: 10px auto;
        padding: 10px 10px;
       
    }
  
    .agroweb{
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        align-items: center;
    }
    .project > div p{
        font-size: 25px;
        padding: 10px auto;
        line-height: 29px;
    }
    .agroweb{
        display: grid;
        grid-template-columns: 1fr;
    }
   
    
    
}